.background-image { 
    display:  inline-block;
    border: solid gainsboro 10px;
    filter: grayscale(75%);
}


/* TODO: Need to align the next text and add a paragraph next to the image on the home page. */
.intro-statement {
    display: inline-block;
    align-items: center;
}
