.header1 {

    color: plum;
    background-color: aqua;
    margin: auto;
    
}

/* This is the list of elements on the navbar */
.navbar-list {
    list-style:none;
    display: flex;
    align-items: center;
    margin-left: 50vh;

}
